html,
body {
  background-color: oldlace;
}

* {
  text-align: center;
}

.App {
}

form {
  font-size: 1.2rem;
}

select,
input {
  margin-left: 10px;
  font-size: 1.2rem;
}

button {
  margin-top: 10px;
  font-size: 1.2rem;
}
